on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run Node.js Hello World
    steps:
      - name: Run Graph
        uses: actionforge/action@dd84b97bb5d3a0f17bda0ce7d20ffa96e3bd8f1c # v0.15.4
        with:
          graph-file: build.act
